<%- include("partials/header") %>
<div>
    <%# console.log(postEJS[index].title) %> 
    <h1><%= postEJS[index].title%> </h1>
    <p><%= postEJS[index].body%> </p>
</div>      


<%- include("partials/footer") %> 